image/post/*.jpg
image/post/*.jpeg
image/post/*.png
image/post/*.gif
image/post/*.svg
image/post/*.webp
image/post/*.ico
image/post/*.bmp
image/post/*.tiff
image/submit/*.jpg
image/submit/*.jpeg
image/submit/*.png
image/submit/*.gif
image/submit/*.svg
image/submit/*.webp
image/submit/*.ico
image/submit/*.bmp
image/submit/*.tiff
image/user/*.jpg
image/user/*.jpeg
image/user/*.png
image/user/*.gif
image/user/*.svg
image/user/*.webp
image/user/*.ico
image/user/*.bmp
image/user/*.tiff