image/post/*.jpg
image/post/*.jpeg
image/post/*.png
image/post/*.gif
image/post/*.svg
image/post/*.webp
image/post/*.ico
image/post/*.bmp
image/post/*.tiff
image/submit/*.jpg
image/submit/*.jpeg
image/submit/*.png
image/submit/*.gif
image/submit/*.svg
image/submit/*.webp
image/submit/*.ico
image/submit/*.bmp
image/submit/*.tiff